<footer>
    <div class="footer_top">
        <div class="container">
            <div class="flex-wrap">
                <div class="item">
                    <p class="title">ABOUT</p>
                    <nav class="footer_about-menu">
                        <ul>
                            <li>
                                <a href="#">Contact Us</a>
                            </li>
                            <li>
                                <a href="#">About Us</a>
                            </li>
                            <li>
                                <a href="#">Careers</a>
                            </li>
                            <li>
                                <a href="#">Flipkart Stories</a>
                            </li>
                            <li>
                                <a href="#">Press</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="item">
                    <p class="title">HELP</p>
                    <nav class="footer_help-menu">
                        <ul>
                            <li>
                                <a href="#">Payments</a>
                            </li>
                            <li>
                                <a href="#">Shipping</a>
                            </li>
                            <li>
                                <a href="#">Cancellation & Returns</a>
                            </li>
                            <li>
                                <a href="#">FAQ</a>
                            </li>
                            <li>
                                <a href="#">Report Infringement</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="item">
                    <p class="title">POLICY</p>
                    <nav class="footer_policy-menu">
                        <ul>
                            <li>
                                <a href="#">Return Policy</a>
                            </li>
                            <li>
                                <a href="#">Terms Of Use</a>
                            </li>
                            <li>
                                <a href="#">Security</a>
                            </li>
                            <li>
                                <a href="#">Privacy</a>
                            </li>
                            <li>
                                <a href="#">Sitemap</a>
                            </li>
                            <li>
                                <a href="#">EPR Compliance</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="item">
                    <p class="title">SOCIAL</p>
                    <nav class="footer_social-menu">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">Facebook</a>
                            </li>
                            <li>
                                <a href="https://twitter.com" target="_blank">Twitter</a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com" target="_blank">YouTube</a>
                            </li>
                            <li>
                                <a href="https://plus.google.com" target="_blank">Google Plus</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="item">
                    <p class="title">Mail Us:</p>
                    <p><span>Flipkart Internet Pvt Ltd Block B (Begonia),</span>
                    <span>Ground Floor, Embassy Tech Village,</span>
                    <span>Outer Ring Road, Devarabeesanahalli Village,</span>
                    <span>Varthur Hobli, Bengaluru East Taluk,</span>
                    <span>Bengaluru District,</span>
                    <span>Karnataka, India, 560103</span></p>
                </div>
                <div class="item">
                    <p class="title">Registered Office Address:</p>
                    <p>
                        <span>Flipkart Internet Private Limited,</span>
                        <span>Vaishnavi Summit, Ground Floor, 7th Main,</span>
                        <span>80 Feet Road, 3rd Block,</span>
                        <span>Koramangala,</span>
                        <span>Bengaluru - 560034</span>
                        <span>India</span>
                        <span>CIN : U51109KA2012PTC066107</span>
                        <span>Telephone: <a class="phone" href="tel:18002089898">1800 208 9898</a></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="flex-wrap">
                <div class="item">
                    <a class="sell" href="#">Sell On Flipkart</a>
                </div>
                <div class="item">
                    <a class="advertise" href="#">Advertise</a>
                </div>
                <div class="item">
                    <a class="cards" href="#">Gift Cards</a>
                </div>
                <div class="item">
                    <a class="help_center" href="help-center.html">Help Center</a>
                </div>
                <div class="item">
                    <p>© 2007-2019 Flipkart.com.</p>
                </div>
                <div class="item">
                    <a class="visa" href="#">
                        <img src="../../images/payment.svg" alt="payment">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_copyright">
        <div class="container">
            <a target="_blank" href="http://plemyastudio.ru"><i>©</i> Все права защищены, 2019. Разработка "Студия Племя".</a>
        </div>
    </div>
</footer>

