<header>
    <div class="top-line">
        <div class="container">
            <div class="flex-wrap">
                <div class="flex-item">
                    <a href="index.html" class="header_logo">
                        <img src="../../images/logo-desktop.png" alt="logo">
                    </a>
                    <div class="header_search">
                        <form class="form-search"> 
                            <input name="text" class="search-query" type="text" placeholder="Поиск продуктов, брендов и другое"> 
                            <button class="button"></button> 
                        </form>
                    </div>
                </div>
                <div class="flex-item">
                    <div class="header-topMenu">
                        <ul>
                            <li>
                                <a id="registration" href="javascript:void(0)">Вход и Регистрация</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

