
    <header>
        <div class="container">
            <div class="header_top-line">
    
                <div class="flex-wrap">
                    <div class="flex-item">
                        <a onclick="javascript:history.back(); return false;" href="" class="back_link"></a>
                    </div>
    
                    <div class="flex-item">
                        <a href="index.html" class="header_logo">
                            <img src="../../images/logo-mob.png" alt="logo">
                        </a>
                    </div>

                    <div class="flex-item pageTitle search_page">
                        <p class="title">Mobiles</p>
                    </div>

                    <div class="flex-item pageTitle catalog_page">
                        <p class="title">TVs</p>
                    </div>
    
                    <div class="flex-item header_search">
                        <a href="#" class="mobileSearch"></a>
                    </div>
                    
                    <div class="flex-item links">
                        <a href="cart.html" class="header_cart__link">
                            <span class="cartAmount">3</span>
                        </a>
                        <div class="registration header_login__link">Логин</div>
                    </div>
                </div>

                <!-- Начало строки поиска -->
                <div class="searchLine">
                    <form class="form-search">
                        <input name="text" class="search-query" type="search" placeholder="Поиск продуктов, брендов и другое">
                        <button class="button"></button>
                    </form>
                    <div class="searchLine-close"></div>
                </div>
                <!-- Конец строки поиска -->
    
            </div>
        </div>
    </header>
