    <header>
        <div class="container">
            <div class="header_top-line">
    
                <div class="flex-wrap">
                    <div class="flex-item">
                        <a onclick="javascript:history.back(); return false;" href="" class="back_link"></a>
                    </div>
    
                    <div class="flex-item">
                        <a href="index.html" class="header_logo">
                            <img src="../../images/logo-desktop.png" alt="logo">
                        </a>
                    </div>

                    <div class="flex-item pageTitle">
                        <p class="title">My Wishlist (1)</p>
                    </div>
                    
                    <div class="flex-item account">
                        <a href="javascript:void(0)" class="profile open-profile"><i class="icon-account"></i></a>
                    </div>
                </div>
    
            </div>
        </div>
    </header>
    <div class="accountMenu">
        <div class="close_accountMenu"></div>
        <div class="item-line"> 
            <a href="javascript:void(0)" class="topItem">
                <span class="icon">
                    <i class="icon-orders"></i>
                </span>
                MY ORDERS
            </a>
        </div>
        <div class="item-line"> 
            <p class="topItem">
                <span class="icon">
                    <i class="icon-account"></i>
                </span>
                account settings
            </p>
            <ul>
                <li>
                    <a href="personal-area.html">Profile Information</a>
                </li>
                <li>
                    <a href="javascript:void(0)">Manage Addresses</a>
                </li>
                <li>
                    <a href="javascript:void(0)">PAN Card Information</a>
                </li>
            </ul>
        </div>
        <div class="separator"></div>
        <div class="item-line"> 
            <p class="topItem">
                <span class="icon">
                    <img src="../../images/payments-icon.png" alt="">
                </span>
                payments
            </p>
            <ul>
                <li>
                    <a href="javascript:void(0)">
                        <span>PhonePe Wallet</span>
                        <span class="status">₽0</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <span>Gift Cards</span>
                        <span class="status">₽0</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <span>Saved Cards</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="item-line"> 
            <a href="javascript:void(0)" class="topItem">
                <span class="icon">
                    <i class="icon-stuff"></i>
                </span>
                my chats
            </a>
        </div>
        <div class="separator"></div>
        <div class="item-line"> 
            <p class="topItem">
                <span class="icon">
                    <i class="icon-stuff"></i>
                </span>
                my stuff
            </p>
            <ul>
                <li>
                    <a href="javascript:void(0)">
                        My Rewards
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        My Reviews & Ratings
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        All Notifications
                    </a>
                </li>
                <li>
                    <a href="wishlist.html">
                        My Wishlist
                    </a>
                </li>
            </ul>
        </div>
        <div class="separator"></div>
        <div class="item-line">
            <a href="javascript:void(0)" class="topItem">
                <span class="icon">
                    <i class="icon-logout"></i>
                </span>
                Logout
            </a>
        </div>
    </div>